.node circle {
    fill: #fff;
    stroke: rgb(187, 113, 2);
    stroke-width: 5px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: rgb(34, 3, 104);
    stroke-width: 1px;
    opacity: 0.5;
}